/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


#hero{
	position: relative;
	left: 0px;
	top: 0px;
	vertical-align: middle;
	text-align:center;
}

#heroimg{
    float: left;
    vertical-align: middle;
	width: 100%;
	height: 843px;
	background-image: url(../img/heroimage.png);
	background-repeat: no-repeat;
    background-position: center center;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	filter: brightness(50%);
}

#heroinfo{
	position: absolute;
    left: 10%;
    top: 150px;
    width: 80%;
}

.logo{
	width: 15%;
	margin-left: 28%;
}

.name{
	margin-top: -8%;
	width: 100%;
	font-family: 'Rounded Mplus 1c', sans-serif; 
	font-style: normal;
	font-weight: normal;
	font-size: 150px;
	line-height: 297px;
	text-align: center;
	color: #FFFFFF;
}

.oneliner{
	color: #FFFEFE;
	font-size: 25px;
	line-height: 35px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
}

.joinUs{
	border: none;
	text-decoration-style: none;
	margin-top: 4%;
	margin-bottom: 5%;
	padding: 10px 30px 10px 30px;
	background: #219317;
	border-radius: 3px;
	color: white;
}

#foodBank {
	float: left;
	width: 1440px;
	height: 573px;
	left: -1px;
	top: 843px;
	vertical-align: middle;
	text-align: center;
	background-color: #E5E5E5;
}

#question {
	position: absolute;
	width: 100%;
	height: 85px;
	top: 974px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 72px;
	line-height: 84px;
	color: #000000;
}

#statistic {	
	position: absolute;
	height: 106px;
	top: 1110px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10%;
	padding-right: 10%;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
	line-height: 65px;
	color: #000000;
	text-align: center;
	margin-bottom: 150px;
}

 #mission {
	float: left;
	width: 100%;
	height: 610px;
	left: 0px;
	top: 1416px;
	vertical-align: middle;
	text-align: center;
	background-color: #C4C4C4;
}

#mission-title {
	position: absolute;
	width: 100%;
	height: 85px;
	top: 1537px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 72px;
	line-height: 84px;
	text-align: center;
}

#what-we-do {
	position: absolute;
	height: 184px;
	top: 1666px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10%;
	padding-right: 10%;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 45px;
	line-height: 65px;
	text-align: center;
	margin-bottom: 150px;
}

/* Benefits */

#benefits
{
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.benefitcard
{
	height: 360px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	background: linear-gradient(0deg, #F5F1F1, #F5F1F1), linear-gradient(0deg, #FFF7D9, #FFF7D9), linear-gradient(0deg, #FFF7D9, #FFF7D9), #FFF7D9;
	margin-bottom: 20px;
}

.benefitcard:first-of-type
{
	margin-top: 20px;
}

.benefitcard img
{
	height: 250px;
	width: auto;
	max-width: 300px;
	max-height: 300px;
}

.benefitcard p
{
	color: #000000;
	font-size: 20px;
	line-height: 35px;
	font-family: "Roboto";
	font-weight: 600;
	text-align: center;
	width: 90%;
}

/* SocialProof */

#socialProof
{
	display: block;
}

.socialtest
{
	display: flex;
	flex-direction: column;	
	align-items: center;
}

.socialtest img
{
	height: auto;
	width: 200px;
	border-radius: 30px;
	margin-bottom: 20px;
}

.socialtest p
{
	margin-bottom: 20px;
	width: 90%;
	color: #000000;
	font-size: 20px;
	line-height: 35px;
	font-family: "Roboto";
	font-weight: 600;
	text-align: center;	
	max-width: 400px;
}

@media(min-width: 600px)
{
	/* Benefits */
	#benefits
	{
		display: grid;
		width: 90%;
		grid-template-columns: repeat(3, minmax(200px, 1fr));
		gap: 0px 15px;
		margin: 0px auto;
	}

	.benefitcard
	{
		border: none !important;
		min-width: 200px;
		max-width: 100%;

	}

	.benefitcard:first-of-type
	{
		margin-top: 0px;
	}
	
	.benefitcard p
	{
		width: 90%;
	}

	.socialtest img 
	{
		width: 400px;
		border-radius: 50px;
	}
}

#contact {
	position: absolute;
	width: 126px;
	height: 42px;
	left: 106px;
	top: 4044px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
}

#follow {
	position: absolute;
	width: 156px;
	height: 42px;
	left: 106px;
	top: 4117px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
}

#instagram {
	position: absolute;
	width: 145px;
	height: 26px;
	left: 90px;
	top: 4215px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
}

#twitter {
	position: absolute;
	width: 145px;
	height: 26px;
	left: 234px;
	top: 4215px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
}

#linkedIn {
	position: absolute;
	width: 145px;
	height: 26px;
	left: 380px;
	top: 4215px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
}

#news-title {
	position: absolute;
	width: 176px;
	height: 42px;
	left: 689px;
	top: 4044px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
}

#sign-up {
	position: absolute;
	width: 508px;
	height: 38px;
	left: 689px;
	top: 4098px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
}

#email {
	position: absolute;
	width: 179px;
	height: 28px;
	left: 689px;
	top: 4159px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
}